/* 这个设置让padding包含在width之中 */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.zmd-inner-container:after {
	clear: both;
}

.zmd-inner-container {
	width: 100%;
	height: 100%;
}

.zmd-inner-content {
	float: left;
	width: 50%;
	height: 100%;
	padding: 10px;
	margin-top: 5px;
    border-radius: 5px;
}

.zmd-inner-preview {
	float: left;
	width: 50%;
	height: 100%;
	padding: 10px;
	margin-top: 5px;
	overflow: auto;
	border: #ccc 2px solid;
    border-radius: 5px;
}

/* 
 * ==================================================
 * preview table
 * ==================================================
 */

.zmd-inner-preview table, .zmd-content table {
	border: solid 1px #ddd;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

/*.zmd-inner-preview table>caption+thead>tr:first-child>td, .zmd-content table>caption+thead>tr:first-child>td, 
.zmd-inner-preview table>caption+thead>tr:first-child>th, .zmd-content table>caption+thead>tr:first-child>th, 
.zmd-inner-preview table>colgroup+thead>tr:first-child>td, .zmd-content table>colgroup+thead>tr:first-child>td, 
.zmd-inner-preview table>colgroup+thead>tr:first-child>th, .zmd-content table>colgroup+thead>tr:first-child>th, 
.zmd-inner-preview table>thead:first-child>tr:first-child>td, .zmd-content table>thead:first-child>tr:first-child>td, 
.zmd-inner-preview table>thead:first-child>tr:first-child>th, .zmd-content table>thead:first-child>tr:first-child>th {
  border-top: 0;
}*/
.zmd-inner-preview table>thead>tr>th, .zmd-content table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.zmd-inner-preview table>tbody>tr>td, .zmd-content table>tbody>tr>td, 
.zmd-inner-preview table>tbody>tr>th, .zmd-content table>tbody>tr>th, 
.zmd-inner-preview table>tfoot>tr>td, .zmd-content table>tfoot>tr>td, 
.zmd-inner-preview table>tfoot>tr>th, .zmd-content table>tfoot>tr>th, 
.zmd-inner-preview table>thead>tr>td, .zmd-content table>thead>tr>td, 
.zmd-inner-preview table>thead>tr>th, .zmd-content table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border: 1px solid #ddd;
}
.zmd-inner-preview table>tbody>tr:nth-of-type(odd), 
.zmd-content table>tbody>tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.06);;
}


/* 
 * ==================================================
 * https://github.com/google/material-design-icons
 * https://design.google.com/icons/ 
 * ==================================================
 */

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'), local('MaterialIcons-Regular'),
		url(MaterialIcons-Regular.woff2) format('woff2'),
		url(MaterialIcons-Regular.woff) format('woff'),
		url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	cursor: pointer;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}